// Spacing helper classes e.g. .padding-top-medium { padding-top: 2rem; }


.padding-row {
    padding-bottom: 80px;
}

.top-pad {
    
    padding-top: 60px;
} 

.exhibitor-intro {
    text-align: center;
    padding: 200px 0;
        .h1, h1 {display: none;}
    p {
        font-family: ltc-bodoni-175,serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
    }
    
}