.footer {
    
    background-image:url('../images/scene-hm-logo-lg.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    
    .inner-footer {
        padding: 120px 0 300px;
        
         ol, ul {
            list-style-type: none;
             margin-left: 0rem;
        }

    }
}
      