.top-bar, .top-bar {
    padding: 20px 20px;
    @media screen and (max-width: 39.9375em) {  
    padding: 20px 0px;
    }
    ul {
        background-color: #fff;
        li {
                text-transform: uppercase;
                border-right: thin solid  #fff;
                font-size: .9rem;
                letter-spacing: 1.1px;
                &:last-child {
                border-right: 1px solid  #fff;    

            }
                    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
                        font-size: .8rem;
                    }

        }
    }
    
    
}
@media screen and (max-width: 39.9375em) {  
    .top-bar .top-bar-left, .top-bar .top-bar-right {
        -ms-flex: 0 0 100%;
        flex: 0 0 20%;  // this was altered from standard
        max-width: 100%;
    }
}

.top-bar .top-bar-left {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: auto;
    padding-left: 10px;
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        padding-left: 8px;
        
    }
    
}
.header {
    position: fixed;
    width: 100%;
}

.top-bar, .top-bar ul {
    background-color: #fff;
    position: relative;
}




.fix-it {
    position: fixed;
}

.menu .button, .menu a {
    padding: 0.1rem 1rem;
    
}

.dropdown.menu>li>a {
    padding: 0.1rem 1rem;
}


.top-bar, .top-bar ul {
    background-color: #fff;
}

.menu .active>a, .menu .is-active>a {
    background: #fff;
    color: #999;
}

.scene-hdr-logo {
    background-image:url('../images/scene-hdr-logo.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 105px;
    height: 14px;
    padding: 0;
    text-indent: -9999px;
    
}


.menu .button, .menu a {
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: 1rem 1rem;
    text-transform: uppercase;
}



.menu.vertical {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 19px;
}


